*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Nunito', sans-serif; ;

}

a{
    text-decoration:none ;

}

#header{
    padding:3rem 4rem;
    

}

#header .second-all{
     

}

#header .right{
    width: 70%;
    display: flex;
    justify-content: space-between;
}
#header .right .box{
    width: 48%;
}
#first{
    padding :3rem 4rem;
    height: 100vh;
    background-image: url(https://getmasum.com/html-preview/nour/assets/img/slider/1.jpg);
    background-size: cover;
    background-position: center;

}
#first .first1{
    
    text-align: center;
}
.text{
    margin-top: 11rem;
}
#first .text h4{
    font-size:20px ;
    margin-bottom:20px ;
    color: #fff;
}
.text h1{
    font-size:55px ;
    color: #fff;
    margin-bottom: 50px;

}
.text a{
    font-size: 15px;
    background-color: #6168ff;
    padding: 15px 30px;
    border-radius: 5px;
    border: 2px solid #6168ff;
    color: #fff;
    transition: 0.4s;
}
.text a:hover{
    background-color: transparent;
    border: 2px solid #fff;
}
#second{
    padding: 7rem 4rem;
    background-color: #f6f6f6;
}
.all-second{
    display: flex;
    justify-content: space-between;
}
#second .all-second .left{
    width: 48%;
}
#second .all-second .right{
    width: 48%;
}
#second .all-second .right img{
    width: 100%;
}
.all-second .left{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.all-second .left .box{
    width: 48%;
    margin-bottom: 50px;
}
.all-second .left .box i{
    font-size: 50px;
    margin-bottom: 20px;
    color: #6168FF;
}
.all-second .left .box p{
    font-size: 16px;
    color: #666666;
    line-height: 1.8;
    font-weight: 400;
    
    
}
.all-second .left .box h3{
    font-size: 18px;
    color: #333333;
    margin-bottom: 10px;
}





